<p id="notice"><%= notice %></p>

<h1>Users Prescriptions</h1>

<table>
  <thead>
    <tr>
      <th>Assistant_Id</th>
      <th>Prescription_Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.prescriptions.each do |users_prescription| %>
      <tr>
        <td><%= users_prescription.user_id %></td>
        <td><%= users_prescription.prescription_id %></td>
        <td><%= link_to 'Show', users_prescription %></td>
        <td><%= link_to 'Edit', edit_users_prescription_path(users_prescription) %></td>
        <td><%= link_to 'Destroy', users_prescription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home page', home_index_path %>
<%= link_to 'New Users Prescription', new_users_prescription_path %>
