<p id="notice"><%= notice %></p>

<p>
  <strong>Presid:</strong>
  <%= @prescription.presid %>
</p>

<p>
  <strong>Pharmacist:</strong>
  <%= @prescription.pharmacist_id %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @prescription.patient_name %>
</p>

<p>
  <strong>Drug name:</strong>
  <%= @prescription.drug_name %>
</p>

<p>
  <strong>Dosage:</strong>
  <%= @prescription.dosage %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @prescription.quantity %>
</p>

<p>
  <strong>Deliverdate:</strong>
  <%= @prescription.deliverdate %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @prescription.delivered %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
